<header>
    <nav>
      <h1><a routerLink="/home" routerLinkActive="active">HealthyTasty</a></h1>
      <ul>
        <div class="list-element">
          <li><a
            routerLink="/home"
            routerLinkActive="active">Home</a></li>
        </div>
        <div class="list-element">
          <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
        </div>
        <div class="list-element">
          <li><a>Blog</a></li>
        </div>
      </ul>
    </nav>
    <div class="utils">
      <span>
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <span>
        <i class="fa-solid fa-user"></i>
      </span>
    </div>
</header>
