<a routerLink="1">
  <div class="card-item">
    <div class="card-image">
      <img src="/app/common/shared/assets/images/main/Puttanesca-fd5810c.jpg">
    </div>
    <div class="card-title">
      <h2>Pasta with beans</h2>
      <div class="card-title-add-info">
        <div class="reviews">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
          <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
          <p>(23)</p>
        </div>
        <div class="author">
          <p>Author: test user</p>
        </div>
      </div>
    </div>
  </div>
</a>
