<div class="container">
  <div class="recipe-image">
    <img src="/app/common/shared/assets/images/main/Puttanesca-fd5810c.jpg" />
  </div>
  <div class="double-section section">
    <div class="recipe-description">
      <h3>Pasta with beans</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus
        sit numquam sequi, ab odit tempora vel nihil, culpa, enim laboriosam
        nesciunt at deserunt delectus minus dolorem suscipit magni voluptates
        amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Explicabo sit tempora iste. Reiciendis corrupti omnis, saepe veniam iure
        quod obcaecati possimus deleniti enim, ex optio laborum consequatur
        necessitatibus numquam quidem!
      </p>
    </div>
    <div class="recipe-info">
      <div class="recipe-info-item">
        <div class="recipe-info-item-name">
          <span>
            <i class="fa-solid fa-user"></i>
          </span>
          <p>Author</p>
        </div>
        <div class="recipe-info-item-value">
          <p>Test user</p>
        </div>
      </div>
      <div class="recipe-info-item">
        <div class="recipe-info-item-name">
          <span>
            <i class="fa-solid fa-gauge"></i>
          </span>
          <p>Difficulty</p>
        </div>
        <div class="recipe-info-item-value">
          <p>Medium</p>
        </div>
      </div>
      <div class="recipe-info-item">
        <div class="recipe-info-item-name">
          <span>
            <i class="fa-solid fa-utensils"></i>
          </span>
          <p>Servings</p>
        </div>
        <div class="recipe-info-item-value">
          <p>4</p>
        </div>
      </div>
      <div class="recipe-info-item">
        <div class="recipe-info-item-name">
          <span>
            <i class="fa-solid fa-hourglass"></i>
          </span>
          <p>Preparation time</p>
        </div>
        <div class="recipe-info-item-value">
          <p>60 minutes</p>
        </div>
      </div>
    </div>
  </div>
  <div class="double-section section">
    <div class="ingredients">
      <div class="title">
        <span>
          <i class="fa-solid fa-carrot"></i>
        </span>
        <h3>Ingredients</h3>
      </div>
      <div class="ingredient-item">
        <div class="ingredient-name">
          <input type="checkbox" />
          <p>Pasta</p>
        </div>
        <div class="ingredient-value">
          <p>500 grams</p>
        </div>
      </div>
      <div class="ingredient-item">
        <div class="ingredient-name">
          <input type="checkbox" />
          <p>Pasta</p>
        </div>
        <div class="ingredient-value">
          <p>500 grams</p>
        </div>
      </div>
      <div class="ingredient-item">
        <div class="ingredient-name">
          <input type="checkbox" />
          <p>Pasta</p>
        </div>
        <div class="ingredient-value">
          <p>500 grams</p>
        </div>
      </div>
      <div class="ingredient-item">
        <div class="ingredient-name">
          <input type="checkbox" />
          <p>Pasta</p>
        </div>
        <div class="ingredient-value">
          <p>500 grams</p>
        </div>
      </div>
    </div>
    <div class="nutritions">
      <div class="title">
        <span>
          <i class="fa-regular fa-clipboard"></i>
        </span>
        <h3>Nutrition Facts</h3>
      </div>
      <div class="nutrition-item">
        <div class="nutrition-name"></div>
        <div class="nutrition-column"><p>1 serving</p></div>
        <div class="nutrition-column"><p>100g</p></div>
      </div>
      <div class="nutrition-item">
        <div class="nutrition-name">Energy</div>
        <div class="nutrition-column">400 calories</div>
        <div class="nutrition-column">200 calories</div>
      </div>
      <div class="nutrition-item">
        <div class="nutrition-name">Fat</div>
        <div class="nutrition-column">20g</div>
        <div class="nutrition-column">7g</div>
      </div>
      <div class="nutrition-item">
        <div class="nutrition-name">Carbs</div>
        <div class="nutrition-column">60g</div>
        <div class="nutrition-column">20g</div>
      </div>
      <div class="nutrition-item">
        <div class="nutrition-name">Protein</div>
        <div class="nutrition-column">15g</div>
        <div class="nutrition-column">5g</div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="steps">
      <div class="title">
        <span>
          <i class="fa-solid fa-list-ul"></i>
        </span>
        <h3>Preparation Steps</h3>
      </div>
      <div class="step-item">
        <div class="step-description">
          <h4>Step 1</h4>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea iure
            molestiae itaque necessitatibus consequuntur voluptatum, sapiente
            reprehenderit maiores. Rem voluptas aliquam neque magnam delectus
            perferendis repellat nemo est similique explicabo?
          </p>
        </div>
        <div class="step-image image">
          <img class="fitting-image" src="\app\common\shared\assets\images\main\step-image.png" />
        </div>
      </div>
      <div class="step-item">
        <div class="step-description">
          <h4>Step 2</h4>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea iure
            molestiae itaque necessitatibus consequuntur voluptatum, sapiente
            reprehenderit maiores. Rem voluptas aliquam neque magnam delectus
            perferendis repellat nemo est similique explicabo?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea iure
            molestiae itaque necessitatibus consequuntur voluptatum, sapiente
            reprehenderit maiores. Rem voluptas aliquam neque magnam delectus
            perferendis repellat nemo est similique explicabo?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea iure
            molestiae itaque necessitatibus consequuntur voluptatum, sapiente
            reprehenderit maiores. Rem voluptas aliquam neque magnam delectus
            perferendis repellat nemo est similique explicabo?
          </p>
        </div>
        <div class="step-image image">
          <img class="fitting-image" src="\app\common\shared\assets\images\main\step-image.png" />
        </div>
      </div>
      <div class="step-item">
        <div class="step-description">
          <h4>Step 3</h4>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea iure
            molestiae itaque necessitatibus consequuntur voluptatum, sapiente
            reprehenderit maiores. Rem voluptas aliquam neque magnam delectus
            perferendis repellat nemo est similique explicabo?
          </p>
        </div>
        <div class="step-image image">
          <img class="fitting-image" src="\app\common\shared\assets\images\main\step-image.png" />
        </div>
      </div>
      <div class="step-item">
        <div class="step-description">
          <h4>Step 4</h4>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea iure
            molestiae itaque necessitatibus consequuntur voluptatum, sapiente
            reprehenderit maiores. Rem voluptas aliquam neque magnam delectus
            perferendis repellat nemo est similique explicabo?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea iure
            molestiae itaque necessitatibus consequuntur voluptatum, sapiente
            reprehenderit maiores. Rem voluptas aliquam neque magnam delectus
            perferendis repellat nemo est similique explicabo?
          </p>
        </div>
        <div class="step-image image">
          <img class="fitting-image" src="\app\common\shared\assets\images\main\step-image.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="tags">
      <div class="title">
        <span>
          <i class="fa-solid fa-tags"></i>
        </span>
        <h3>Tags</h3>
      </div>
      <div class="tags-list">
        <a href="#"><button class="tag"><p>dinner</p></button></a>
        <a href="#"><button class="tag"><p>pasta</p></button></a>
        <a href="#"><button class="tag"><p>easy recipe</p></button></a>
        <a href="#"><button class="tag"><p>summer dinner</p></button></a>
        <a href="#"><button class="tag"><p>vegetarian</p></button></a>
        <a href="#"><button class="tag"><p>dinner</p></button></a>
        <a href="#"><button class="tag"><p>pasta</p></button></a>
        <a href="#"><button class="tag"><p>easy recipe</p></button></a>
        <a href="#"><button class="tag"><p>summer dinner</p></button></a>
        <a href="#"><button class="tag"><p>dinner</p></button></a>
        <a href="#"><button class="tag"><p>pasta</p></button></a>
        <a href="#"><button class="tag"><p>easy recipe</p></button></a>
        <a href="#"><button class="tag"><p>summer dinner</p></button></a>
        <a href="#"><button class="tag"><p>vegetarian</p></button></a>
        <a href="#"><button class="tag"><p>vegetarian</p></button></a>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="comments">
      <div class="title">
        <span>
          <i class="fa-solid fa-comments"></i>
        </span>
        <h3>Reviews (5)</h3>
        </div>
        <div class="comment-item">
          <div class="commentator">
            <div class="user-image image">
              <img class="fitting-image" src="\app\common\shared\assets\images\main\default-profile.jpg">
            </div>
            <div class="commentator-info">
              <h4>Test user</h4>
              <p>01/08/2022</p>
              <div class="rating">
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat molestias accusamus minus distinctio voluptate unde cumque tenetur illum doloribus. Nobis, expedita sit consequatur voluptates dolores laborum labore at sunt!</p>
          </div>
        </div>
        <div class="comment-item">
          <div class="commentator">
            <div class="user-image image">
              <img class="fitting-image" src="\app\common\shared\assets\images\main\default-profile.jpg">
            </div>
            <div class="commentator-info">
              <h4>Test user</h4>
              <p>01/08/2022</p>
              <div class="rating">
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat molestias accusamus minus distinctio voluptate unde cumque tenetur illum doloribus. Nobis, expedita sit consequatur voluptates dolores laborum labore at sunt!</p>
          </div>
        </div>
        <div class="comment-item">
          <div class="commentator">
            <div class="user-image image">
              <img class="fitting-image" src="\app\common\shared\assets\images\main\default-profile.jpg">
            </div>
            <div class="commentator-info">
              <h4>Test user</h4>
              <p>01/08/2022</p>
              <div class="rating">
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <div class="comment">
          </div>
        </div>
        <div class="comment-item">
          <div class="commentator">
            <div class="user-image image">
              <img class="fitting-image" src="\app\common\shared\assets\images\main\default-profile.jpg">
            </div>
            <div class="commentator-info">
              <h4>Test user</h4>
              <p>01/08/2022</p>
              <div class="rating">
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat molestias accusamus minus distinctio voluptate unde cumque tenetur illum doloribus. Nobis, expedita sit consequatur voluptates dolores laborum labore at sunt!</p>
          </div>
        </div>
        <div class="comment-item">
          <div class="commentator">
            <div class="user-image image">
              <img class="fitting-image" src="\app\common\shared\assets\images\main\default-profile.jpg">
            </div>
            <div class="commentator-info">
              <h4>Test user</h4>
              <p>01/08/2022</p>
              <div class="rating">
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #ebdb4e;" class="fa-solid fa-star"></i>
                <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
              </div>
            </div>
          </div>
          <div class="comment">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat placeat molestias accusamus minus distinctio voluptate unde cumque tenetur illum doloribus. Nobis, expedita sit consequatur voluptates dolores laborum labore at sunt!</p>
          </div>
        </div>
        <div class="more-reviews">
          <button>Load more reviews</button>
        </div>
    </div>
  </div>
  <div class="double-section section">
    <div class="review">
      <div class="title">
        <span>
          <i class="fa-solid fa-comment"></i>
        </span>
        <h3>Leave a review</h3>
      </div>
      <div class="comment-and-review">
        <div class="rating">
          <span>
            <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
          </span>
          <span>
            <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
          </span>
          <span>
            <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
          </span>
          <span>
            <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
          </span>
          <span>
            <i style="color: #a79d9d;" class="fa-solid fa-star"></i>
          </span>
        </div>
        <textarea placeholder="Comment..."></textarea>
        <div class="submit">
          <button>Add review</button>
        </div>
      </div>
    </div>
    <div class="share">
      <div class="title">
        <span>
          <i class="fa-solid fa-share-nodes"></i>
        </span>
        <h3>Share recipe</h3>
        </div>
        <div class="socials">
          <button class="social facebook">
            <span>
              <i class="fa-brands fa-facebook-f"></i>
            </span>
            <p>Facebook</p>
          </button>
          <button class="social instagram">
            <span>
              <i class="fa-brands fa-instagram"></i>
            </span>
            <p>Instagram</p>
          </button>
          <button class="social twitter">
            <span>
              <i class="fa-brands fa-twitter"></i>
            </span>
            <p>Twitter</p>
          </button>
        </div>
    </div>
  </div>
  <div class="section">
    <div class="recipes">
    <div class="title">
      <h3>Similar recipes</h3>
    </div>
    <div class="recipes-items">
      <div class="recipe-item">
        <app-recipe-item></app-recipe-item>
      </div>
      <div class="recipe-item">
        <app-recipe-item></app-recipe-item>
      </div>
      <div class="recipe-item">
        <app-recipe-item></app-recipe-item>
      </div>
      <div class="recipe-item">
        <app-recipe-item></app-recipe-item>
      </div>
    </div>
    </div>
  </div>
  <div class="section">
    <div class="recipes">
    <div class="title">
      <h3>Check also</h3>
    </div>
    <div class="recipes-items">
      <div class="recipe-item">
        <app-recipe-item></app-recipe-item>
      </div>
      <div class="recipe-item">
        <app-recipe-item></app-recipe-item>
      </div>
      <div class="recipe-item">
        <app-recipe-item></app-recipe-item>
      </div>
      <div class="recipe-item">
        <app-recipe-item></app-recipe-item>
      </div>
    </div>
    </div>
  </div>
</div>
