$nav-background-color: #3b3838;
$footer-background-color: #f7f3f3;

$dark-text-color: #342D2D;
$dark-light-text-color: #776868;
$light-text-color: #dddcd8;

$facebook-color: #3b5999;
$instagram-color: #E2306C;
$twitter-color: #76a9ea;


$tag-color: #49beb7;
$button-color: #085f63;
