@font-face {
  font-family: 'Damion';
  src: url(../assets/fonts/Damion-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Nunito';
  src: url(../assets/fonts/Nunito-VariableFont_wght.ttf) format("opentype");
}

@font-face {
  font-family: 'Poppins-Light';
  src: url(../assets/fonts/Poppins-Light.ttf) format("opentype");
}

@font-face {
  font-family: 'Ubuntu';
  src: url(../assets/fonts/Ubuntu-Light.ttf) format("opentype");
}
