<footer>
  <img src="\app\common\shared\assets\images\logo\logo-black.png" />
  <div class="navigation">
      <ul>
        <li>Home</li>
        <li>Privacy Policy</li>
        <li>Terms</li>
        <li>About</li>
      </ul>
      <h2>© {{ year }} HealthyTasty All Rights Reserved</h2>
    </div>
  <div class="social-links">
    <span>
      <i class="fa-brands fa-instagram"></i>
    </span>
    <span>
      <i class="fa-brands fa-facebook"></i>
    </span>
    <span>
      <i class="fa-brands fa-twitter"></i>
    </span>
    <span>
      <i class="fa-brands fa-github"></i>
    </span>
  </div>
</footer>
